.adminLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #9c8b8b;
  }
  
  .adminSideImage {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .adminSideImage img {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
  }
  
  .adminForm {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 4.5rem;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .adminForm form {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  
  .adminForm label {
    font-weight: bold;
    margin-top: 1rem;
  }
  
  .adminForm input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .adminForm button {
    margin-top: 1rem;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .adminForm button:hover {
    background-color: #0056b3;
  }
  
  .adminForm span {
    margin-top: 1rem;
  }
  
  .adminForm a {
    color: #007bff;
    text-decoration: none;
  }
  
  .adminForm a:hover {
    text-decoration: underline;
  }
  